@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,cyrillic);
/* Helper classes
   ========================= */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after,
.container:after {
  clear: both;
}
.clearfix,
.container {
  *zoom: 1;
}
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
/* Base styles
   ========================= */
* {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.start {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  position: absolute;
  background: url("../img/index_bg.jpg") right bottom no-repeat;
  background-size: cover;
}
.start .start-inner {
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  position: relative;
}
.start .enter {
  color: #fff;
  height: 34px;
  font-size: 30px;
  cursor: pointer;
  line-height: 34px;
  position: relative;
  padding-left: 50px;
  display: inline-block;
  text-decoration: underline;
}
.start .enter:before {
  top: 0;
  left: 0;
  width: 38px;
  height: 34px;
  content: " ";
  position: absolute;
  background: url("../img/sprite.png") 0 0 no-repeat;
}
.start .enter:hover {
  color: #ff0000;
  text-decoration: underline;
}
.start .enter:hover:before {
  background-position: -40px 0;
}
.start .registration-block {
  right: 40px;
  bottom: 50px;
  width: 690px;
  height: 130px;
  position: absolute;
}
.start .registration-block .form-reg {
  width: 100%;
  height: 100%;
  display: block;
  padding: 40px 0;
  position: relative;
}
.start .registration-block .form-reg:before {
  top: 0;
  left: 50px;
  width: 590px;
  content: " ";
  position: absolute;
  border-top: 1px solid #a26969;
}
.start .registration-block .form-reg:after {
  bottom: 0;
  left: 50px;
  width: 590px;
  content: " ";
  position: absolute;
  border-top: 1px solid #a26969;
}
.start .registration-block .input-reg {
  float: left;
  width: 480px;
  height: 50px;
  outline: none;
  color: #a68c8d;
  display: block;
  font-size: 24px;
  line-height: 28px;
  padding: 10px 15px;
  text-align: center;
  background-image: none;
  background: transparent;
  border: 1px solid #a68c8d;
}
.start .registration-block .input-reg::-moz-placeholder {
  color: #a68c8d;
  opacity: 1;
}
.start .registration-block .input-reg:-ms-input-placeholder {
  color: #a68c8d;
}
.start .registration-block .input-reg::-webkit-input-placeholder {
  color: #a68c8d;
}
.start .registration-block .btn-reg {
  float: right;
  color: #fff;
  width: 180px;
  height: 50px;
  outline: none;
  display: block;
  cursor: pointer;
  font-size: 30px;
  padding: 5px 7px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #7f5f60;
  background: rgba(82, 82, 82, 0.5);
}
.start .registration-block .btn-reg:hover {
  text-decoration: none;
  background: rgba(82, 82, 82, 0.7);
}
.start .registration-block .btn-reg:active {
  top: 1px;
  position: relative;
}
.menuSelect {
  top: 0;
  right: 3%;
  margin: 0;
  float: right;
  width: 140px;
  height: 37px;
  position: fixed;
  list-style: none;
  padding: 7px 10px 0 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfbfbf+0,fefefe+100 */
  background: #bfbfbf;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmYmZiZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWZlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #bfbfbf 0%, #fefefe 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfbfbf), color-stop(100%, #fefefe));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bfbfbf 0%, #fefefe 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bfbfbf 0%, #fefefe 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bfbfbf 0%, #fefefe 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #bfbfbf 0%, #fefefe 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfbfbf', endColorstr='#fefefe', GradientType=0);
  /* IE6-8 */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.menuSelect li {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background: url("../img/sprite.png") no-repeat;
}
.menuSelect li.item1 {
  background-position: 0 -200px;
}
.menuSelect li.item1:hover {
  background-position: 0 -277px;
}
.menuSelect li.item2 {
  background-position: -60px -200px;
}
.menuSelect li.item2:hover {
  background-position: -60px -277px;
}
.menuSelect li.item3 {
  background-position: -30px -200px;
}
.menuSelect li.item3:hover {
  background-position: -30px -277px;
}
.menuSelect li a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.setting-page {
  color: #fff;
  position: relative;
  background: url("../img/setting_bg.jpg") top center fixed no-repeat;
}
.setting {
  width: 510px;
  margin: 0 auto;
  padding-top: 70px;
}
.setting .setting-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  background: url("../img/login-form-divider.png") center bottom no-repeat;
}
.setting .inputPhoto {
  width: 116px;
  height: 122px;
  float: right;
  overflow: hidden;
  margin-top: 25px;
  position: relative;
  background: url("../img/inputPhoto.png") 0 0 no-repeat;
}
.setting .inputPhoto .fileformlabel {
  color: #000;
  width: 100%;
  height: 100%;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding-top: 50px;
  display: inline-block;
}
.setting .inputPhoto .upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  font-size: 150px;
  height: 50px;
  z-index: 20;
  cursor: pointer;
}
.setting #photoFile {
  position: absolute;
  left: -100000px;
  width: 116px;
  height: 122px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.setting .user-video {
  padding: 60px 0 40px 0;
}
.setting .user-video .btn-video-export {
  float: left;
  color: #000;
  width: 143px;
  height: 137px;
  display: block;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  position: relative;
  padding-top: 40px;
  text-align: center;
  margin-right: 25px;
  background: url("../img/btn-video.png") 0 0 no-repeat;
}
.game-page {
  height: 3270px;
  position: relative;
  background: url("../img/game_bg.jpg") center bottom no-repeat;
}
.header {
  height: 800px;
  background: url("../img/header_bg.jpg") top center no-repeat;
}
.content {
  padding-top: 20px;
  min-height: 800px;
  position: relative;
}
.mission-list {
  width: 900px;
  height: 62px;
  margin: 0 auto;
  padding: 11px 15px 15px 15px;
  background: url("../img/mission-list.png") 0 0 no-repeat;
}
.mission-list .jq-checkbox {
  border-color: transparent;
}
.mission-list .jq-selectbox__select {
  border-color: transparent;
}
.mission-list .jq-checkbox.focused {
  border-color: transparent;
}
.mission-list .jq-selectbox__select {
  height: 36px;
  line-height: 36px;
  padding: 0 45px 0 10px;
}
.mission-list .jq-selectbox__trigger {
  border-left: 1px solid transparent;
}
/* Choice  */
.personag {
  height: 544px;
  position: relative;
  width: 1088px;
  margin: -3px auto 0 auto;
}
.personag a {
  background-position: top center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 21px;
  border: 1px solid #050504;
  box-shadow: 0 0 10px #4f4c48;
  height: 399px;
  width: 281px;
  position: absolute;
  text-decoration: none;
}
.personag a:hover {
  margin-top: 12px;
  z-index: 100;
}
.personag p {
  color: white;
  text-decoration: none;
  text-align: center;
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
  /* padding: 347px 13px 0 28px; */
  /*padding: 0 0 0 0;*/
  margin-top: 333px;
  letter-spacing: 0.07em;
  font-size: 34px;
  -ms-filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9961947, M12=-0.08715574, M21=0.08715574, M22=0.9961947, SizingMethod='auto expand');
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9961947, M12=-0.08715574, M21=0.08715574, M22=0.9961947, SizingMethod='auto expand');
}
.killer p {
  -ms-filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.99756405, M12=0.06975647, M21=-0.06975647, M22=0.99756405, SizingMethod='auto expand');
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.99756405, M12=0.06975647, M21=-0.06975647, M22=0.99756405, SizingMethod='auto expand');
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  /* padding: 332px 10px 0 0px; */
}
a.shturm p {
  padding-left: 5px;
  /* padding-top: 347px; */
}
.medic p {
  -ms-filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9945219, M12=0.10452846, M21=-0.10452846, M22=0.9945219, SizingMethod='auto expand');
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9945219, M12=0.10452846, M21=-0.10452846, M22=0.9945219, SizingMethod='auto expand');
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  transform: rotate(-6deg);
  /* padding: 321px 6px 0 0; */
}
.ingener {
  -ms-filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9961947, M12=0.08715574, M21=-0.08715574, M22=0.9961947, SizingMethod='auto expand');
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9961947, M12=0.08715574, M21=-0.08715574, M22=0.9961947, SizingMethod='auto expand');
  /* margin-top: 46px; */
  background-image: url(../img/ingener3.png);
  z-index: 4;
  -moz-transform: rotate(-5deg);
  /* Firefox */
  -ms-transform: rotate(-5deg);
  /*  IE */
  -webkit-transform: rotate(-5deg);
  /*Safari, Chrome, iOS */
  -o-transform: rotate(-5deg);
  /* Opera */
  transform: rotate(-5deg);
  margin-left: -4px;
}
.killer {
  -ms-filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9961947, M12=0.08715574, M21=-0.08715574, M22=0.9961947, SizingMethod='auto expand');
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9961947, M12=0.08715574, M21=-0.08715574, M22=0.9961947, SizingMethod='auto expand');
  z-index: 4;
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  margin-left: -4px;
}
a.killer {
  -ms-filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9961947, M12=-0.08715574, M21=0.08715574, M22=0.9961947, SizingMethod='auto expand');
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9961947, M12=-0.08715574, M21=0.08715574, M22=0.9961947, SizingMethod='auto expand');
  background-image: url(../img/snajper3.png);
  z-index: 3;
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
  margin: 42px 0 0 273px;
}
a.shturm {
  -ms-filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.99691733, M12=0.0784591, M21=-0.0784591, M22=0.99691733, SizingMethod='auto expand');
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.99691733, M12=0.0784591, M21=-0.0784591, M22=0.99691733, SizingMethod='auto expand');
  background-image: url(../img/shturm3.png);
  z-index: 2;
  -moz-transform: rotate(-4.5deg);
  -ms-transform: rotate(-4.5deg);
  -webkit-transform: rotate(-4.5deg);
  -o-transform: rotate(-4.5deg);
  transform: rotate(-4.5deg);
  margin: 18px 0 10px 551px;
}
a.medic {
  -ms-filter: progid:DXImageTransform.Microsoft.Matrix(0.9945219, M12=-0.10452846, M21=0.10452846, M22=0.9945219, SizingMethod='auto expand');
  filter: progid:DXImageTransform.Microsoft.Matrix(0.9945219, M12=-0.10452846, M21=0.10452846, M22=0.9945219, SizingMethod='auto expand');
  background-image: url(../img/medicine3.png);
  z-index: 1;
  -moz-transform: rotate(6deg);
  /*Firefox */
  -ms-transform: rotate(6deg);
  /*  IE */
  -webkit-transform: rotate(6deg);
  /* Safari, Chrome, iOS */
  -o-transform: rotate(6deg);
  /* Opera */
  transform: rotate(6deg);
  margin: 48px 0 0 819px;
}
/* Filter  */
.filter {
  height: 117px;
  padding-top: 25px;
  margin-bottom: 40px;
  background: url("../img/filter-bg.jpg") top center no-repeat;
}
.filter .filter-title {
  color: #fff;
  float: left;
  width: 270px;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
}
.filter .filter-class {
  float: left;
  width: 215px;
  padding-right: 40px;
}
.filter .filter-class.last {
  width: 250px;
  padding-top: 10px;
  padding-right: 0;
}
.filter .filter-class .jq-selectbox__select {
  background: #ffffff;
  border: none;
}
.filter .filter-class .jq-selectbox__trigger {
  background: #fb7801;
  border-left: 1px solid #fff;
}
.filter .filter-class .jq-selectbox__trigger-arrow {
  border-top-color: #000;
}
.filter .filter-label {
  color: #ff7901;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 8px;
  display: block;
}
.filter .formAge {
  width: 100%;
  text-align: center;
}
.filter .formAge label {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  padding: 1px 3px;
  display: inline-block;
}
.filter .formAge input {
  color: #fff;
  height: 20px;
  border: none;
  width: 25px;
  text-align: center;
  font-size: 15px;
  background: none;
  line-height: 20px;
  display: inline-block;
}
.filter .ui-slider-horizontal {
  height: 6px;
}
.filter .ui-widget-content {
  background: #fff;
}
.filter .ui-widget-header {
  background: #d94f22;
}
.filter .ui-slider-handle {
  width: 8px;
  height: 11px;
  outline: none;
  margin-left: -3px;
  background: url("../img/handle.png") 0 0 no-repeat;
}
.filter .filter-checkbox {
  position: relative;
}
.filter .filter-checkbox input[type=checkbox] {
  display: none;
}
.filter .filter-checkbox label {
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  line-height: 20px;
  position: relative;
  padding-left: 28px;
  margin-right: 15px;
  display: inline-block;
}
.filter .filter-checkbox label:before {
  top: 4px;
  left: 0;
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  display: inline-block;
  border: 2px solid #fff;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.filter .filter-checkbox input[type=checkbox]:checked + label:before {
  background: #2e9e13;
}
.partners .rows {
  padding-bottom: 50px;
  margin: 0 -12px 50px -12px;
  background: url("../img/line.png") bottom center no-repeat;
}
.partners .rows .cols {
  float: left;
  width: 408px;
  padding: 3px 12px;
  overflow: hidden;
  position: relative;
  background: url("../img/partners-bg.png") 9px 0 repeat-y;
}
.partners .partners-avatar {
  float: left;
  width: 145px;
  overflow: hidden;
  position: relative;
}
.partners .partners-avatar .partners-status {
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  color: #ff0000;
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  text-align: center;
}
.partners .partners-avatar .partners-status.online {
  color: #32d30d;
}
.partners .partners-text {
  padding: 0;
  list-style: none;
  margin-left: 155px;
}
.partners .partners-level {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.partners .partners-name {
  color: #fff;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 6px;
  padding-bottom: 8px;
  font-family: 'Open Sans Condensed', sans-serif;
  background: url("../img/partners-divider.png") left bottom no-repeat;
}
.partners .partners-class {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 5px;
}
.partners .partners-clan {
  color: #bbb;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
}
.partners .partners-message {
  color: #fff;
  height: 20px;
  cursor: pointer;
  font-size: 14px;
  padding: 2px 15px;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: #ff7901;
}
.partners .partners-message:hover {
  background-color: #fd9d46;
}
.partners .partners-message:active {
  top: 1px;
  position: relative;
}
.pagination {
  font-size: 0;
  line-height: 0;
  text-align: center;
}
.pagination li {
  height: 25px;
  margin: 0 6px;
  font-size: 14px;
  line-height: 15px;
  padding: 5px 8px;
  font-weight: 600;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.pagination li:hover {
  background: #ff7901;
}
.pagination li a {
  color: #fff;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: inline-block;
}
.pagination li a:hover {
  text-decoration: none;
}
.pagination li.current {
  background: #ff7901;
}
.pagination li.pagination-wrap {
  background: transparent;
}
.pagination li.pagination-wrap :hover {
  background: transparent;
}
.footer {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 110px;
}
.footer .container {
  height: 100%;
}
.footer .dev {
  right: 0;
  bottom: 70px;
  color: #ffffff;
  font-size: 16px;
  text-align: right;
  position: absolute;
}
.footer .dev a {
  color: #ffffff;
}
.footer .dev-email {
  right: 0;
  bottom: 35px;
  color: #ffffff;
  font-size: 16px;
  text-align: right;
  position: absolute;
  padding-left: 32px;
  background: url("../img/icon-mail.png") left center no-repeat;
}
.informer {
  z-index: 500;
  right: 0;
  bottom: 0;
  width: 80px;
  position: fixed;
}
.informer .inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.informer .arrow {
  height: 20px;
  color: #fff;
  z-index: 550;
  cursor: pointer;
  text-align: center;
  background: rgba(150, 150, 150, 0.5) url("../img/chat-arrow.png") 50% -42px no-repeat;
  -webkit-border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0;
  border-radius: 10px 0 0 0;
}
.informer .arrow.revert {
  background-position: 50% 3px;
}
.informer .people {
  margin: 0;
  padding: 0;
  list-style: none;
}
.informer .people li {
  height: 80px;
  padding: 5px;
  position: relative;
  background: rgba(90, 90, 90, 0.5);
}
.chat {
  left: -443px;
  bottom: 30px;
  width: 410px;
  height: 460px;
  display: none;
  position: absolute;
  background: #f1ecd8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
}
.chat .chat-inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.chat .chat-inner:before {
  content: "";
  width: 16px;
  height: 16px;
  right: -16px;
  bottom: 25px;
  position: absolute;
  background: url("../img/chat-arrow2.png") 0 0 no-repeat;
}
.chat .chat-title {
  height: 70px;
  padding: 10px 40px 10px 15px;
  background: #ff7901;
  position: relative;
}
.chat .chat-title .user-avatar {
  top: 11px;
  left: 14px;
  width: 52px;
  height: 52px;
  position: absolute;
}
.chat .chat-title .user-name {
  color: #fff;
  height: 50px;
  font-size: 21px;
  line-height: 50px;
  margin-left: 70px;
  overflow: hidden;
  white-space: nowrap;
}
.chat .chat-title .chat-close {
  top: 28px;
  right: 24px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  background: url("../img/icon-close.png") 0 0 no-repeat;
}
.chat .chat-content {
  top: 70px;
  color: #292929;
  font-size: 14px;
  bottom: 61px;
  overflow: auto;
  padding: 10px 15px;
  position: absolute;
}
.chat .chat-new-message {
  left: 0;
  right: 0;
  bottom: 0;
  height: 61px;
  background: #fff;
  overflow: hidden;
  position: absolute;
  border-top: 1px solid #bbbbb8;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
.chat .chat-new-message .chat-form {
  display: block;
  height: 60px;
}
.chat .chat-new-message .chat-form-message {
  width: 100%;
  height: 60px;
  border: none;
  padding: 15px;
  display: block;
  color: #ff7901;
  font-size: 16px;
  background: #fff;
  line-height: 30px;
}
.chat .chat-new-message .chat-form-message::-moz-placeholder {
  color: #ff7901;
  opacity: 1;
}
.chat .chat-new-message .chat-form-message:-ms-input-placeholder {
  color: #ff7901;
}
.chat .chat-new-message .chat-form-message::-webkit-input-placeholder {
  color: #ff7901;
}
.row {
  margin: 0 -25px;
}
.row .col50 {
  width: 50%;
  float: left;
  padding: 0 25px;
  position: relative;
}
/* list icon
   ========================= */
.icon-engineer {
  background: #ffffff url("../img/icon-list-engineer.png") 97% 50% no-repeat;
}
.icon-solder {
  background: #ffffff url("../img/icon-list-solder.png") 97% 50% no-repeat;
}
.icon-sniper {
  background: #ffffff url("../img/icon-list-sniper.png") 97% 50% no-repeat;
}
.icon-medical {
  background: #ffffff url("../img/icon-list-medic.png") 97% 50% no-repeat;
}
/* Form & Button
   ========================= */
.btn {
  margin: 0;
  color: #fff;
  width: 242px;
  height: 58px;
  border: none;
  outline: none;
  font-size: 22px;
  line-height: 24px;
  padding: 5px 8px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background: url("../img/sprite.png") 0 -47px no-repeat;
}
.btn:hover {
  background-position: 0 -109px;
}
.btn:active {
  top: 1px;
  position: relative;
}
.form-group {
  position: relative;
  margin-bottom: 10px;
}
.form-group.double {
  margin-top: 25px;
  margin-bottom: 35px;
}
label {
  margin-bottom: 0;
}
.label-out {
  top: 0;
  left: -80px;
  position: absolute;
}
.form-label {
  color: #fff;
  display: block;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  line-height: 22px;
}
.form-control {
  width: 100%;
  color: #363636;
  outline: none;
  display: block;
  font-size: 18px;
  line-height: 20px;
  padding: 5px 15px;
  border: 1px solid#7f7e7f;
  background: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.form-control::-moz-placeholder {
  color: #363636;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #363636;
}
.form-control::-webkit-input-placeholder {
  color: #363636;
}
.jq-selectbox {
  width: 100%;
}
.jq-selectbox__select {
  color: #343434;
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  text-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid#7f7e7f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* Modal
   ========================= */
.popup-block {
  color: #fff;
  width: 560px;
  padding: 17px 15px;
  background: #b61111;
  border: 1px solid #000;
}
.popup-block .form-title {
  font-size: 28px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 18px;
  padding-bottom: 10px;
  background: url("../img/login-form-divider.png") center bottom no-repeat;
}
.popup-block .form-group {
  margin-bottom: 18px;
}
.popup-block .form-control {
  background: #fff;
}
.popup-block .popup-label {
  float: left;
  width: 170px;
  padding: 5px 0;
  display: block;
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}
.popup-block .popup-label.label-center {
  float: none;
  width: 100%;
  text-align: center;
}
.popup-block .popup-input {
  color: #000;
  float: right;
  width: 350px;
  outline: none;
  display: block;
  font-size: 20px;
  background: #fff;
  line-height: 22px;
  padding: 5px 15px;
  border: 1px solid #fff;
}
.popup-block .btn-popup {
  margin: 0 5px;
  color: #fff;
  outline: none;
  font-size: 21px;
  font-weight: 400;
  line-height: 23px;
  padding: 5px 50px;
  text-align: center;
  text-decoration: none;
  background: transparent;
  border: 2px solid #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.popup-block .btn-popup:hover {
  background: #e40807;
  text-decoration: none;
}
.popup-block .btn-popup:active {
  top: 1px;
  position: relative;
}
.popup-block .btn-gray {
  margin: 0;
  color: #fff;
  outline: none;
  font-size: 21px;
  font-weight: 400;
  line-height: 23px;
  padding: 5px 50px;
  text-align: center;
  text-decoration: none;
  background: #2a2a2a;
  border: 2px solid #2a2a2a;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.popup-block .btn-gray:hover {
  background: #595959;
  text-decoration: none;
}
.popup-block .btn-gray:active {
  top: 1px;
  position: relative;
}
.popup-block .popup-label-text {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  padding-bottom: 10px;
}
.popup-block .form-popup-divider {
  text-align: center;
}
.popup-block .form-popup-divider span {
  height: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  position: relative;
}
.popup-block .form-popup-divider span:before {
  top: 14px;
  left: -80px;
  width: 80px;
  content: " ";
  position: absolute;
  border-top: 1px solid #d68282;
}
.popup-block .form-popup-divider span:after {
  top: 14px;
  right: -80px;
  width: 80px;
  content: " ";
  position: absolute;
  border-top: 1px solid #d68282;
}
/* Typography
   ========================= */
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
h4 {
  color: #fff;
  width: 900px;
  font-size: 36px;
  text-align: left;
  line-height: 40px;
  padding-top: 15px;
  margin: 0 auto 15px auto;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
}
h4 span {
  font-size: 58px;
  margin-right: 8px;
}
p {
  padding: 0;
  margin: 0 0 10px 0;
}
a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text-right {
  text-align: center;
}
